@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

/* VARIABLE CSS================================================================================- */
/*-============================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #4DB5C1;
    --accent-color: #8CD2DA;
    --text-color-w: #F4FAFB;
    --text-color-b: #050B0C;
    --container-color: #65C6D1;
    --body-color: #F4FAFB;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --body-font: 'Montserrat', sans-serif;

    --h1-font-size: 5.61rem;
    --h2-font-size: 4.209rem;
    --h3-font-size: 3.157rem;
    --h4-font-size: 2.369rem;
    --h5-font-size: 1.777rem;
    --h6-font-size: 1.333rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-black: 900;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --gap-1: 1rem; /*---------------16px*/

    --gap-2: 1.5rem; /*-------------24px*/

    --gap-3: 2rem; /*---------------32px*/

    --gap-4: 3rem; /*---------------48px*/

    --gap-5: 4rem; /*---------------64px*/

    --gap-6: 5rem; /*---------------80px*/

    --gap-7: 8rem; /*--------------128px*/
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

h5{
    font-size: var(--h5-font-size);
}

h6{
    font-size: var(--h6-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}
/*-============================================================================================- */

/* RESPONSIVE BREAKPOINTS======================================================================- */

/* FOR SML MOBILE */
@media screen and (max-width : 389px){
    .container{
        margin: 0 .5rem;
    }
}

/* FOR MOBILE */
@media screen and (min-width: 390px){
    .container{
        max-width: 358px;
        margin: 0 auto;
    }
}

/* FOR TABLET */
@media screen and (min-width: 744px){
    .container{
        max-width: 680px;
        margin: 0 auto;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1100px){
    .container{
        max-width: 1080px;
        margin: 0 auto;
    }
}
/*-============================================================================================- */

/*-REUSABLE CSS CLASSES========================================================================- */
.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding-bottom: 8rem;
    overflow: hidden;
}

.section-title{
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium); /*set to medium originaly*/
}

.section-accent{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.section-accent.section-alt{
    justify-content: flex-end;
}

.section-name{
    height: 48px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
}

.section-name p{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.section-line{
    content: '';
    height: 3px;
    width: 174px;
    max-width: 174px;
}

.p-text{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.transition{
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* CSS COMPONENTS =============================================================================- */

/* BUTTONS */
/* -------- */

/*-============================================================================================- */

/* CSS COMPONENTS =============================================================================- */
.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 20;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: var(--gap-3);
    z-index: 50;
}

.nav-logo,
a{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    color: var(--text-color-w);
}

.nav-logo .img-container{
    position: relative;
    height: 24px;
    width: 24px;
}

.nav-logo h6{
    font-weight: var(--font-medium);
}

.nav-logo h6 span{
    font-weight: var(--font-bold);
    color: var(--primary-color);
}

.nav-toggle{
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

.nav-toggle p{
    font-weight: var(--font-regular);
}

.icon-container{
    position: relative;
    overflow: hidden;
    height: 24px;
    width: 24px;
}

.icon-container div{
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    transition: all .4s ease-in-out;
}

.icon-container i{
    font-size: var(--gap-2);
}

.word-toggle{
    position: relative;
    overflow: hidden;
    height: 24px;
    width: 48px;
}

.word-toggle div{
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: all .4s ease-in-out;
}

.word-toggle p{
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.nav-screen{
    position: absolute;
    display: block;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: var(--text-color-b);
    color: var(--text-color-w);
    transition: all .5s ease-in-out;
    opacity: 0;
    z-index: 18;
}

.nav-screen.nav-open{
    right: 0;
    opacity: 1;
}

.nav-screen .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--gap-5);
    padding-top: 114px;
}

.nav-screen-frame-one{
    font-weight: var(--font-light);
    row-gap: var(--gap-5);
}

.nav-list{
    gap: var(--gap-4);
}

.nav-list *{
    transition: all .2s ease-in-out;
}

.nav-item:hover a{
    color: var(--accent-color);
}

.nav-item a{
    font-size: var(--h5-font-size);
    font-weight: var(--font-regular);
    color: var(--text-color-w);
}

.nav-list a.active{
    color: var(--accent-color);
}

.nav-links-list{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.nav-link{
    position: relative;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border: 2px solid var(--text-color-w);
    color: var(--text-color-w);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.nav-link i{
    font-size: 32px;
}

.nav-link:hover{
    border: 2px solid var(--accent-color);
}

.nav-link span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .4s ease-in-out;
    text-align: center;
}

.nav-link:hover span{
    top: -24px;
    opacity: 1;
}
/*-============================================================================================- */

/* HOME SECTION ===============================================================================- */
.home{
    padding-top: 163px;
    padding-bottom: var(--gap-6);
    color: var(--text-color-w);
}

.home-container *{
    z-index: 1;
}

.home-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);
    margin-bottom: var(--gap-5);
}

.home-list-item{
    display: block;
}

.home-list-item p{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.home-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--gap-4);
}

.home-title span{
    font-weight: var(--font-bold);
    color: var(--accent-color);
}

.home-subtitle{
    font-size: var(--h5-font-size);
    font-weight: var(--font-regular);
    margin-bottom: var(--gap-5);
}

.home-button{
    height: 64px;
    width: 252px;
    border-radius: 64px;
    background-color: var(--body-color);
    color: var(--text-color-b);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
    margin-bottom: var(--gap-6);
}

.home-button p{
    font-family: var(--body-font);
    font-size: var(--h6-font-size);
    font-weight: var(--font-semi-bold);
}

.home-button:hover{
    background-color: var(--primary-color);
    transform: translateY(-8px);
}

.home-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-line{
    content: '';
    height: 3px;
    width: 167px;
    background-color: var(--text-color-w);
}

.home-footer h6{
    font-weight: var(--font-light);
}

.home-button-second{
    height: 64px;
    width: 64px;
    border: 3px solid var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: floatButton 2s ease-in-out infinite; 
    transition: all .4s ease-in-out;
}

.home-button-second i{
    font-size: var(--gap-3);
    color: var(--text-color-w);
}

.home-button-second:hover{
    background-color: var(--accent-color);
}

@keyframes floatButton {
    0% {
      transform: translateY(0); /* Start position */
    }
    50% {
      transform: translateY(-16px); /* Move up */
    }
    100% {
      transform: translateY(0); /* Return to start position */
    }
  }

.home-img{
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    z-index: 0;
}
/*-============================================================================================- */

/* SERVICES SECTION ===========================================================================- */
.services {
    padding-top: var(--gap-7);
}

.services-text {
    font-size: var(--h5-font-size);
    font-weight: var(--font-regular);
    margin-bottom: var(--gap-7);
}

.services-title {
    margin-bottom: var(--gap-4);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.services-title span{
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.services-flex-container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.services-scroll-list {
    display: flex;
    position: relative;
    overflow-x: auto;
    gap: var(--gap-2);
    /* padding-top: var(--gap-2); */
    /* margin-top: var(--gap-2); */
    padding-bottom: 36px;
}

.services-scroll-list::-webkit-scrollbar {
    height: 8px;
    background-color: var(--text-color-b);
    border-radius: 2px;
}

.services-scroll-list::-webkit-scrollbar-track {
    border-radius: 4px;
}

.services-scroll-list::-webkit-scrollbar-thumb {
    background-color: #56a6af; 
}

.services-scroll-list-item {
    position: relative;
    white-space: nowrap;
    /* padding-bottom: 36px; */
    background-color: var(--body-color);
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.services-scroll-list p {
    display: block;
    font-size: var(--h6-font-size);
    font-weight: var(--font-regular);
    z-index: 1;
}

.services-scroll-list-item::before{
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: 0%;
    z-index: -1;
}

.services-scroll-list-item:hover::before{
    bottom: -12px;
    transition: all .4s ease-in-out;
}

.service-cards-container{
    display: flex;
    gap: var(--gap-4);
    flex-wrap: wrap;
    margin-top: var(--gap-4);
    justify-content: center;
    min-height: 1756px;
    max-height: 1757px;
    align-content: flex-start;
}

.service-card-component{
    gap: var(--gap-2);
}

.service-card-component .card-content{
    position: relative;
    height: 344px;
    width: 344px;
    background-color: var(--text-color-b);
    border-radius: 4px;
    padding: var(--gap-4) var(--gap-2) 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.service-card-component p{
    font-weight: var(--font-regular);
    color: var(--text-color-w);
}

.service-card-component h5{
    font-weight: var(--font-medium);
    max-width: 328px;
}

.service-card-toggle{
    height: 48px;
    width: 48px;
    position: absolute;
    z-index: 10;
    background-color: var(--primary-color);
    color: var(--text-color-w);
    border-radius: 50%;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-toggle i{
    font-size: var(--gap-2);
}

.service-card-component .service-card-img,
.service-card-toggle,
.service-card-toggle i {
    transition: transform 0.6s ease-in-out, background-color 0.4s ease-in-out, color 0.4s ease-in-out, opacity 0.6s ease-in-out; /* Add opacity transition */
}

.service-card-img{
    height: 100%;
}

.service-card-component:hover .service-card-toggle{
    transform: translateY(-10px);
}
/*-============================================================================================- */

/* GALLERY SECTION ====================================================================================- */
.gallery{
    background-color: #050B0C;
    padding-top: var(--gap-7);
    color: var(--text-color-w);
}

.gallery-section-accent{
    margin-bottom: var(--gap-5);
}

.gallery-section-accent .section-name{
    background-color: var(--body-color);
    color: var(--text-color-b);
}

.gallery-section-accent .section-line{
    background-color: var(--body-color);
}

.gallery-title{
    margin-bottom: var(--gap-5);
    color: var(--text-color-w);
}

.gallery-flex-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-4);
    margin-bottom: var(--gap-5);
}

.gallery-btns-container{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    justify-content: flex-end;
}

.gallery-swiper-btn{
    cursor: pointer;
}

.gallery-swiper-btn i{
    font-size: var(--gap-5);
    color: var(--text-color-w);
}

.gallery-swiper-btn:hover i{
    color: var(--primary-color);
}

.gallery-card-component{
    gap: var(--gap-4);
}

.gallery-card-img{
    position: relative;
    height: 495px;
    width: 358px;
    border-radius: 4px;
    overflow: hidden;
}

.gallery-card-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-card-button{
    width: 160px;
    height: 64px;
    border-radius: 64px;
    color: var(--text-color-w);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.gallery-card-button p{
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
}

.gallery-card-button:hover{
    background-color: var(--body-color);
    color: var(--text-color-b);
    transform: translateY(-8px);
}
/*-============================================================================================- */

/* ABOUT SECTION ====================================================================================- */
.about{
    padding-top: var(--gap-7);
    padding-bottom: var(--gap-6);
}

.about-section-accent,
.video-section-accent{
    margin-bottom: var(--gap-5);
}

.about-section-accent .section-name,
.video-section-accent .section-name{
    background-color: var(--text-color-b);
    color: var(--text-color-w);
}

.about-section-accent .section-line,
.video-section-accent .section-line{
    background-color: var(--text-color-b);
}

.about-flex-container-one{
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-4);
    column-gap: var(--gap-2);
    margin-bottom: var(--gap-5);
}

.about-flex-container-two{
    display: flex;
    gap: var(--gap-2);
    flex-direction: column;
    margin-bottom: var(--gap-5);
}

.about-img-one{
    height: 358px;
    width: 358px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.about-img-one img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-flex-container-three{
    display: flex;
    column-gap: var(--gap-2);
    row-gap: var(--gap-2);
    flex-direction: column;
}

.about-flex-container-four{
    display: flex;
    column-gap: var(--gap-2);
    justify-content: space-between;
}

.about-img-two{
    height: 163px;
    width: 167px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.about-img-two img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-flex-container-five{
    display: flex;
    gap: var(--gap-2);
    flex-direction: column;
    width: 157px;
}

.about-flex-container-five h3{
    font-weight: var(--font-semi-bold);
}

.about-flex-container-five h3 span{
    color: var(--primary-color);
}

.about-flex-container-five h6{
    font-weight: var(--font-medium);
}

.video-container{
    position: relative;
    height: 229px;
    width: 358px;
    overflow: hidden;
    border-radius: 4px;
    z-index: 4;
}

.video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-toggle{
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: var(--text-color-b);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-w);
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-toggle i{
    font-size: var(--gap-3);
}

.about-background{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 194px;
    display: block;
    z-index: 0;
    background-color: var(--text-color-b);
}
/*-============================================================================================- */

/* REIVEW SECTION =============================================================================- */
.review{
    padding-top: var(--gap-7);
}

.review-frame-one{
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-4);
    margin-bottom: var(--gap-5);
}

.review-swiper-btn{
    cursor: pointer;
}

.review-swiper-btn i{
    font-size: var(--gap-5);
    color: var(--text-color-b);
    transition: color .4s ease-in-out;
}

.review-swiper-btn:hover i{
    color: var(--primary-color);
}

.review-cards-container{
    margin-bottom: var(--gap-5);
}

.review-card{
    height: 252px;
    width: 344px;
    background-color: var(--text-color-b);
    border-radius: 4px;
    padding: var(--gap-4) var(--gap-2);
    gap: var(--gap-2);
    color: var(--text-color-w);
}

.review-card-header{
    display: flex;
    align-items: center;
    gap: var(--gap-1);
}

.review-card-header h6{
    font-weight: var(--font-medium);
}

.user{
    height: 32px;
    width: 32px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--body-color);
}

.user i{
    font-size: var(--gap-2);
    color: var(--primary-color);
}

.review-card p{
    font-weight: var(--font-light);
}

.review-section-accent{
    margin-bottom: var(--gap-5);
}

.review-section-accent .section-line{
    background-color: var(--text-color-b);
}

.review-section-accent .section-name{
    background-color: var(--text-color-b);
    color: var(--text-color-w);
}

.review-text{
    font-size: var(--h5-font-size);
    font-weight: var(--font-regular);
    margin-bottom: var(--gap-4);
}

.timeline-container{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.timeline-item{
    position: relative;
    height: 216px;
    width: 344px;
    padding: var(--gap-4) var(--gap-2);
    border-radius: 4px;
    /* transform: translateX(-100%); 
    opacity: 0; */
}

.timeline-item h5{
    font-weight: var(--font-medium);
}

.timeline-item:nth-child(1){
    background-color: var(--primary-color);
}

.timeline-item:nth-child(2){
    background-color: var(--container-color);
    /* margin-left: 96px; */
}

.timeline-item:nth-child(3){
    background-color: var(--accent-color);
    /* margin-left: 191px; */
}

.timeline-item:nth-child(4){
    background-color: var(--text-color-b);
    color: var(--text-color-w);
    /* margin-left: 288px; */
}
/*-============================================================================================- */

/* CONTACT SECTION ====================================================================================- */
.contact{
    padding-top: var(--gap-7);
    color: var(--text-color-w);
}

.contact-container{
    align-items: center;
    justify-content: center;
    gap: var(--gap-4);
    text-align: center;
}

.cta-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.contact-cta-container{
    height: 72px;
    width: 354px;
    background-color: var(--primary-color);
    border-radius: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-cta-container a{
    font-size: var(--h6-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-w);
}

.cta-button{
    display: none;
}

.contact-cta-link-alt{
    color: var(--text-color-w);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    text-decoration: underline;
    transition: all .4s ease-in-out;
}

.contact-cta-link-alt:hover{
    transform: translateY(-8px);
}

.contact-img{
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/*-============================================================================================- */

/* FOOTER SECTION ====================================================================================- */
.footer{
    padding-top: var(--gap-7);
    padding-bottom: var(--gap-6);
}
.footer-container{
    display: flex;
    flex-direction: column;
}

.footer-frame-one{
    margin-bottom: var(--gap-5);
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
    margin-bottom: var(--gap-4);
}

.footer-img{
    position: relative;
    width: 48px;
    height: 48px;
}

.footer-logo h5{
    font-weight: var(--font-regular);
}

.footer-logo h5 span{
    font-weight: var(--font-bold);
    color: var(--primary-color);
}

.footer-frame-one .p-text{
    margin-bottom: var(--gap-2);
    max-width: 393px;
}

.footer-info-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    margin-bottom: var(--gap-4);
}

.footer-info-container p{
    font-weight: var(--font-semi-bold);
}

.footer-btn-links{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.footer-btn{
    height: 64px;
    width: 64px;
    border: 2px solid var(--text-color-b);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.footer-btn:hover{
    transform: translateY(-8px);
    border: 3px solid var(--primary-color);
}

.footer-btn i{
    font-size: var(--gap-3);
    color: var(--text-color-b);
}

.footer-frame-two{
    display: flex;
    flex-wrap: wrap;
    column-gap: 107px;
    row-gap: var(--gap-4);
    margin-bottom: var(--gap-6);
}

.footer-link-container{
    display: block;
}

.footer-link-container h6{
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--gap-2);
}

.footer-link-container ul{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.footer-link-container ul a {
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    color: var(--text-color-b);
}

.footer-signature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--gap-2);
    border-top: 3px solid var(--text-color-b);
}

.footer-signature p{
    font-weight: var(--font-regular);
}

.footer-signature div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-signature .img-container{
    width: 28px;
    height: 24px;
    position: relative;
}
/*-============================================================================================- */












/* RESPONSIVE BREAKPOINTS =====================================================================- */

/* TABLET */
@media screen and (min-width: 744px){

    /* REUSABLE CLASSES */
    .section-title{
        font-size: var(--h3-font-size);
    }

    .section-line{
        width: 496px;
        max-width: 496px;
    }

    /* NAVIGATION */
    .nav-header{
        margin-top: var(--gap-4);
    }

    .nav-logo .img-container{
        height: 48px;
        width: 48px;
    }

    .nav-logo h6{
        font-size: var(--h5-font-size);
    }

    .nav-toggle p{
        font-size: var(--h6-font-size);
    }

    .icon-container{
        height: 48px;
        width: 48px;
    }

    .icon-container div{
        height: 48px;
    }
    .icon-container i{
        font-size: var(--gap-4);
    }

    .word-toggle{
        width: 72px;
    }

    .nav-screen .container{
        padding-top: 224px;
    }

    .nav-item a{
        font-size: var(--h4-font-size);
    }

    .nav-screen .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .nav-links-list{
        flex-direction: column;
    }

    .nav-link span{
        display: none;
    }

    /* HOME */
    .home{
        padding-top: 224px;
    }

    .home-list{
        margin-bottom: var(--gap-6);
    }
    
    .home-list-item p{
        font-size: var(--h6-font-size);
    }

    .home-title{
        font-size: var(--h1-font-size);
    }

    .home-subtitle{
        font-size: var(--h4-font-size);
        margin-bottom: var(--gap-6);
    }

    .home-button{
        margin-bottom: var(--gap-4);
    }

    .home-line{
        width: 489px;
    }

    /* SERVICE SECTION */
    .services-title{
        margin-bottom: var(--gap-5);
    }

    .services-title span{
        display: none;
    }

    .services-text{
        font-size: var(--h4-font-size);
    }

    .services-scroll-list{
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 0;
    }

    .service-cards-container{
        margin-top: var(--gap-5);
        column-gap: var(--gap-2);
        min-height: 854px;
        max-height: 854px;
    }

    .service-card-component .card-content{
        width: 328px;
    }

    /* GALLERY SECTION */
    .gallery-flex-container p{
        max-width: 328px;
    }

    .gallery-flex-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery-card-img{
        width: 328px;
    }

    /* ABOUT SECTION */
    .about-flex-container-one{
        flex-direction: row;
    }

    .about-title{
        width: 328px;
    }

    .about-flex-container-one .p-text{
        width: 328px;
    }

    .about-flex-container-two{
        flex-direction: row;
    }

    .about-flex-container-three{
        flex-direction: row;
    }

    .about-flex-container-four{
        flex-direction: column;
        justify-content: space-between;
    }

    .about-flex-container-five{
        width: 152px;
    }

    .about-img-one{
        width: 328px;
        height: 328px;
    }

    .about-img-two{
        width: 152px;
        height: 152px;
    }

    .video-container{
        width: 680px;
        height: 364px;
    }

    .video-toggle{
        height: var(--gap-6);
        width: var(--gap-6);
    }

    .video-toggle i{
        font-size: var(--gap-4);
    }

    .about-background{
        height: 262px;
    }

    /* REVIEW SECTION */
    .review-frame-one{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .review-card{
        width: 328px;
    }

    .review-cards-container{
        margin-bottom: var(--gap-6);
    }

    .review-text{
        font-size: var(--h4-font-size);
        margin-bottom: var(--gap-5);
    }

    .timeline-container{
        flex-direction: row;
        white-space: nowrap;
    }

    .timeline-item{
        height: 390px;
        width: 211px;
        padding: var(--gap-4) 11px;
    }

    .timeline-item h5{
        white-space: wrap;
        width: 186px;
    }

    .timeline-item:nth-child(1) {
        transform: translateY(0); /* First item is visible initially */
        opacity: 1;
    }

    .timeline-item:nth-child(2) {
        /* top: 64px; */
        margin-top: 64px;
        margin-left: 0;
    }

    .timeline-item:nth-child(3) {
        /* top: 128px; */
        margin-top: 128px;
        margin-left: 0;
    }

    .timeline-item:nth-child(4) {
        /* top: 192px; */
        margin-top: 192px;
        margin-left: 0;
    }

    /* CONTACT SECTION */
    .cta-title{
        font-size: var(--h1-font-size);
    }

    .contact-container{
        gap: var(--gap-5);
    }

    .contact-cta-container{
        width: 620px;
        height: 80px;
        justify-content: space-between;
        background-color: var(--body-color);
        padding-left: 59px;
        padding-right: 4px;
    }

    .contact-cta-container a{
        color: var(--text-color-b);
    }

    .cta-button{
        display: flex;
        height: 72px;
        width: 189px;
        justify-content: center;
        align-items: center;
        color: var(--text-color-w);
        border-radius: 72px;
        background-color: var(--primary-color);
        cursor: pointer;
        transition: all .4s ease-in-out;
    }

    .cta-button i{
        font-size: var(--gap-4);
        transition: color .4s ease-in-out;
    }

    .cta-button:hover{
        width: 201px;
        background-color: var(--text-color-b);
    }

    /* FOOTER */
    .footer-frame-one .p-text{
        margin-bottom: var(--gap-4);
    }

    .footer-info-container{
        flex-direction: row;
    }
    
}


/* DESKTOP */
@media screen and (min-width: 1100px){

    /* REUSABLE CLASSES */
   .section-line{
        width: 896px;
        max-width: 896px;
   }

   /* NAVIGATION */
   .nav-links-list{
        flex-direction: row;
   }

   .nav-link span{
        display: block;
   }

    /* HOME */
    .home{
        height: 100vh;
    }

    .home-button{
        margin-bottom: 96px;
    }

    .home-line{
        width: 889px;
    }

    /* SERVICE SECTION */
    .services-flex-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .services-scroll-list{
        flex-direction: column;
        max-width: 199px;
    }

    .service-cards-container{
        width: 712px;
        margin-top: 0;
    }

    .service-card-component .card-content{
        width: 344px;
    }

    /* GALLERY SECTION */
    .gallery-section-accent{
        margin-bottom: var(--gap-6);
    }

    .gallery-flex-container p{
        max-width: 624px;
    }

    .gallery-title{
        margin-bottom: var(--gap-6);
    }

    .gallery-card-img{
        width: 344px;
    }

    /* ABOUT SECTION */
    .about{
        padding-bottom: var(--gap-7);
    }
    
    .about-title{
        width: 528px;
    }

    .about-section-accent{
        margin-bottom: var(--gap-6);
    }

    .about-flex-container-one{
        justify-content: space-between;
    }

    .about-flex-container-one .p-text{
        width: 528px !important;
    }

    .about-img-one{
        width: 528px;
        height: 528px;
    }

    .about-img-two{
        width: 252px;
        height: 247px;
    }

    .about-flex-container-four{
        align-items: flex-end;
    }

    .about-flex-container-five h3{
        font-size: var(--h2-font-size);
    }

    .about-flex-container-five{
        width: 214px;
    }

    .video-container{
        height: 542px;
        width: 1079px;
    }

    .about-background{
        height: 399px;
    }

    /* REVIEW SECTION */
    .review-section-accent{
        margin-bottom: var(--gap-6);
    }

    .timeline-container{
        width: 1448px;
    }

    .timeline-item{
        width: 344px;
        height: 390px;
    }

    /* FOOTER SECTION */
    .footer-container{
        flex-direction: row;
        justify-content: space-between;
    }
    
}